@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}

section {
    min-height: 100vh;
}

.row {
    margin: 0;
    padding: 0;
    --bs-gutter-x: 0;
}

nav>a {
    padding: 2%;
    margin: 1%;
    color: #ededed;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.43);
}

.nav-icon {
    max-width: 50px;
    margin: 1%;
}

h1,
h2 {
    color: #ededed;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.43);
}

p {
    margin: 0;
}

i {
    color: #ededed;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.43);
}

label {
    color: #ededed;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.43);
}

.theme-image {
    width: 44%;
    border: 1px solid#0e1111;
}

#left {
    background-color: #0e1111;
    height: 100vh;
    max-height: 100vh;
    padding: 1%;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.5);
}

#img-themes,
#theme-input,
#palette {
    padding: 1%;
}

#img-themes>p {
    color: lightslategray;
    font-size: 0.8em;
    font-style: italic;
}

#right {
    height: 100vh;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#color-palette {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.color {
    width: 15%;
    height: 50px;
    margin: 1%;
    border-radius: 5%;
}

.color:hover {
    cursor: pointer;
}

.color-hex {
    text-align: center;
    display: inline-block;
    width: 100%;
    line-height: 50px;
    vertical-align: middle;
    color: white;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.43);
}

#loader {
    min-height: 100vh;
    min-width: 100%;
}

#loading-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

#hidden-container {
    display: none;
}